 <div class="container mt-8 mb-6 ">

  <h2 class="mb-6"><%= t("info.prezzi") %></h2>
  
  <p class="lead display-4" mb-2><%= t("info.lorem") %></p>
  <p class="lead display-4" mb-2><%= t("info.lorem") %></p>
  <p class="lead display-4" mb-2><%= t("info.lorem") %></p>

</div>